article {
  margin-inline: auto;
  max-inline-size: var(--t-post-article-inline-size);
  padding-inline: var(--ws-4);
  padding-block-end: var(--ws-10);

  @media screen and (max-width: 500px) {
    padding-inline: 0;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--ws-6);

  padding-block-end: var(--ws-10);
}

.header-heading-container {
  display: flex;
  flex-direction: column;
  gap: var(--ws-4);
}

.header-sub-container {
  display: flex;
  justify-content: space-between;
  gap: var(--ws-5);
}

.header-authors-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: var(--ws-3);
}

.header-date-container {
  display: flex;
  flex-direction: column;
  gap: var(--ws-3);

  min-width: max-content;
}

.blog-title {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-black);
  line-height: 1;

  @media screen and (max-width: 500px) {
    font-size: var(--font-size-11);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--ws-10);

  section {
    display: grid;
    grid-template-columns: 30px 1fr;
    position: relative;

    & > * {
      grid-column: 1 / 3;
    }

    & > section {
      grid-column: 2 / 3;
      margin-block-start: var(--ws-8);
    }

    &::before {
      content: '';
      position: absolute;
      inset-inline-start: -20px;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: var(--t-color-border-divider-dim);
      opacity: 0.4;
      transition: opacity var(--transition-sm) ease-in;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: var(--ws-3);

    & + p {
      padding-block-start: var(--ws-6);
    }
  }

  li {
    & > ul,
    & > ol {
      padding-block-start: var(--ws-3);
      padding-block-end: var(--ws-4);
    }
  }

  hr {
    border-top: 1px solid var(--t-color-border-divider-dim);
  }

  p {
    line-height: var(--line-height-5);

    & + p {
      padding-block-start: var(--ws-6);
    }
  }

  h1 {
    & + p,
    & + ol,
    & + ul {
      padding-block-start: var(--ws-6);
    }
  }

  h2 {
    line-height: 1;

    & + p,
    & + ol,
    & + ul {
      padding-block-start: var(--ws-6);
    }

    span.icon.icon-link {
      translate: -7px 8px;
      scale: 1;
    }
  }

  h3 {
    & + p,
    & + ol,
    & + ul {
      padding-block-start: var(--ws-5);
    }

    span.icon.icon-link {
      translate: -7px 6px;
      scale: 0.8;
    }
  }

  h4 {
    & + p,
    & + ol,
    & + ul {
      padding-block-start: var(--ws-4);
    }

    span.icon.icon-link {
      translate: -7px 1px;
      scale: 0.7;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ws-4);
    margin-block-start: var(--ws-6);
    margin-block-end: var(--ws-4);

    figcaption {
      font-size: var(--font-size-4);
      text-align: center;
    }
  }

  img {
    border: 1px solid var(--t-color-border-divider);
    border-radius: var(--radius-sm);
  }

  .callout {
    padding-block: 1rem;
    border-left-width: 5px;
    background-color: color-mix(in srgb, var(--rc-color-light) 4%, transparent 96%);
    border-start-end-radius: var(--radius-md);
    border-end-end-radius: var(--radius-md);

    margin-block-start: var(--ws-6);
    margin-block-end: var(--ws-4);

    .callout-title {
      align-items: center;

      font-size: var(--font-size-6);
      font-weight: var(--font-weight-bold);
    }

    :not(pre, span.line > span, .copy-code)::selection {
      background-color: color-mix(in srgb, var(--rc-color-light) 7%, transparent 93%);
      color: var(--rc-color-light);
    }

    ul,
    ol {
      padding-block-start: var(--ws-5);
    }

    ul li::marker,
    ol li::marker {
      color: var(--rc-color-light);
    }
  }

  span.icon.icon-link {
    opacity: 0.2;
    padding-inline-start: var(--ws-3);
    position: absolute;

    rotate: -45deg;

    transition: opacity var(--transition-sm) ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.content .content .rehype-figure-container {
  display: flex;
  flex-direction: column;
  gap: var(--ws-6);
}

.content p > code,
.content span > code,
.content li > code,
.content h2 > code,
.content h3 > code,
.content h4 > code,
.content h5 > code,
.content h6 > code {
  padding-inline: var(--ws-2);
  font-weight: var(--font-weight-bold);
  font-size: 0.8em;
  border-radius: var(--radius-sm);
  background-color: var(--t-color-primary-50);
  border: 1px solid var(--t-color-primary-100);
  color: var(--t-color-primary-900);
  transition: all var(--transition-sm) ease-in-out;

  &:hover {
    background-color: var(--t-color-primary-100);
    border-color: var(--t-color-primary-200);
  }
}

.content {
  table {
    inline-size: 100%;
    border-collapse: collapse;
    margin: var(--ws-6) 0;
  }

  th,
  td {
    padding: var(--ws-4) var(--ws-5);
    text-align: start;
    border-bottom: var(--divider-medium-dim);
  }

  th {
    background-color: var(--t-color-primary-50);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-5);
  }

  td {
    font-size: var(--font-size-4);
  }

  tr:hover {
    background-color: var(--t-color-primary-100);
  }
}

.display-none {
  display: none;
}

aside {
  display: flex;
  flex-direction: column;
  gap: var(--ws-4);
}

.content aside p {
  padding-block-start: 0;
}

@media screen and (max-width: 500px) {
  header,
  nav {
    padding-inline: var(--ws-4);
  }
}
